@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

.heading {
  color: #734b33;
  text-align: center;
  margin-top: 70px;
  font-family: "Inika", serif;
  font-size: 60px;
  font-weight: 400;
}

@media (max-width: 700px) {
  .heading {
    font-size: 30px;
  }
}
