@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

.hero {
  margin: 0 5%;
  display: flex;
  align-items: center;
  font-family: "inika", sans-serif;
  color: #6f4436;
}

.hero h1 {
  font-size: 45px;
  font-weight: 600;
}

.hero p {
  font-size: 16px;
  margin: 30px 0;
}

.hero img {
  width: 700px;
  border: 1 solid #000;
  height: auto;
}

.hero button img {
  width: 15px;
}

.hero button div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero .actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .hero {
    margin: 0 10%;
    flex-direction: column;
    justify-content: center;
  }

  .hero img {
    width: 100dvw;
  }

  .hero h1 {
    font-size: 30px;
  }
}
