.menu {
  margin: 80px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .menu {
    margin: 80px 10%;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
